@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141313;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

div#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}

button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #2F3332;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

p#resultado {
    width: 127px;
    height: 30px;
    text-align: right;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 15px;
}

button:hover {
    background-color: white;
    color: #2F3332;
}

button#delete {
    background-color: red;
}

button#delete:hover {
    background-color: rgb(114, 15, 15);
    color: white;
}